#bg-img{
    background-image: url(../imagesHomePage/utensils-near-yummy-dishes.jpg);
      background-size: cover;   
      background-repeat: no-repeat; 

}
h1{
    text-align: end;
    margin-right: 150PX;
    margin-top: 200PX;
    font-family:cursive;
    font-weight: 800;
    color: black;
}
p{
    text-align: end;
    margin-right: 150PX;
    margin-top: 15PX;
    font-family:cursive;
    

}
#flex{
    display: flex;
    background-color: rgb(245, 244, 242);
    padding: 2px;
    justify-content: space-between;
    border: 2px solid gray ;
    border-radius: 20px;
    margin-right: 15px;
    box-shadow: 3px 3px 10px;
 
}
a{
   text-decoration: none;
   margin-right: 60px;
   color: gray;
   font-size: larger;
   
   
}
a:hover{
    color: rgb(84, 255, 27);
}
#name{
   margin-left: 80px;
   margin-top: 12px;
   font-size: larger;
   font-weight: bolder;
   font-family:monospace;
}